<!-- Hey, see me @ gerrysaporito.com and reach out! -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141198273-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141198273-3');
    </script>

    <meta charset="utf-8">
    <title>Night Crawlers</title>
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/maps.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/popup.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
  </head>
  <body>
    <!-- Navbar -->
    <div class="navBar">
      <div class="nav">
        <div class="brand">
          <h1>Night Crawlers</h1>
          <h3>Organize your own bar crawls.</h3>
        </div>
        <div class="account">
          <!-- if you want To enable user login capabilities, then uncomment the html -->
              <% if(!currentUser){ %>
              <!-- <a class="accountbutton" href="./login">Log In</a>
              <a class="accountbutton" href="./register">Sign-Up</a> -->
              <% } else { %>
              <!-- <a class="accountbutton" href="">Welcome  <%= currentUser.firstName %></a>
              <a class="accountbutton" href="./logout">Log Out</a> -->
              <% } %>
        </div>
      </div>
    </div>

    <div class="container">
      <% if(error && error.length > 0) { %>
        <div class="mainFlashBtn" role="alert">
          <p><%= error %></p>
        </div>
        <% } %>
        <% if(success && success.length > 0) { %>
          <div class="mainFlashBtn" role="alert">
            <p><%= success %></p>
          </div>
        <% } %>
    </div>
